---
---

@import "{{ site.theme }}";

.page-header {
  padding: 1rem 2rem;
}

.project-name {
  font-size: 0,8rem !important;
}

.project-tagline {
  font-size: 0.7rem;
}

.inner {
  max-width: 850px !important;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}