---
---

@import "{{ site.theme }}";

.page-header {
  padding: 1rem 2rem;
}

.project-name,
.project-tagline {
  display: inline;
}

.project-name::after {
  content: " — ";
}

.inner {
  max-width: 850px !important;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}